body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
}

canvas {
    display: block;
}

.navbar{
    width: 100vw;
    left: 0;
    top: 0;
    position: absolute;
    margin: 0;
    padding: 0px;
    display: flex;
}

ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
li{
    list-style: none;
    padding:0 15px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .2s;
}
a:hover{
    color: #4da619;
}